body {
    background-color: black;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.hallo {
    color: gray;
}

.gay {
    color: black;
}

.home {
    background-color: black;
    margin: 350px 180px 0px 180px;
    padding: 50px;
    border-radius: 50px;
}

.home:hover {
    background-color: gray;
}

p {
    color: white;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: orange;
}

.talen {
    display: flex;
    flex-direction: row;
    margin: 20px 47% 0px 47%;
}